.inputItem{
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}
.inputItem input{
    width: 100%;
    height: 46px;
    border: 0;
    border-bottom: 1px solid var(--color-label-color);
    transition: border-bottom, box-shadow .25s ease-in-out;
    font-size: 20px;
    padding: 20px 15px 10px 15px;
    text-align: center;
    color:var(--color-title-text-color);
}
.inputItem > label{
    position: absolute;
    top: 0;
    left: 50%;
    cursor: text;
    color: var(--color-label-color);
    transform: translateY(13px) translateX(-50%);
    transition: transform .25s ease-in-out;
    transform-origin: 0 100%;
}
.inputItem input:focus{
    border-bottom: 1px solid var(--color-title-text-color);
    box-shadow: 0 1px 0 0 var(--color-title-text-color);
    outline: 1px solid transparent;
}
.inputItem input:focus + label{
    transform: translateY(-14px) scale(.8) translateX(-50%);
    color: var(--color-title-text-color);
}
.inputItem input::-webkit-input-placeholder{
    color: transparent;
}
.inputItem input::placeholder{
    color: transparent;
}
.inputItem input:not(:placeholder-shown){
    border-bottom: 1px solid var(--color-label-color);
}
.inputItem input:not(:placeholder-shown) + label{
    transform: translateY(-12px) scale(.8) translateX(-50%);
}

.inputItem svg{
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom;
}

@media (max-width: 250px) {
    .inputItem > label {
        left: calc(50% - 12px);
    }
    .inputItem > label > span{
        display: none;
    }
}