.loginFormInputItem{
    width: 61.8%;
    display: inline-block;
    margin: auto;
    padding: 18px 0 0 0;
}

.icon {
    border-radius: 5px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: inherit;
    font-size: 15px;
    color: var(--color-sidebar-background-color);
}

.icon:hover {
    background: var(--color-sidebar-background-color);
    color: var(--color-sidebar-cell-text-color);
    cursor: pointer;
}