.topBorder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 0;
}

@media (max-width: 590px) {
    .topBorder{
        flex-direction: column-reverse;
    }
}