.header {
    width: 100%;
    height: 6rem;
    background-color: var(--color-main-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.header li {
    margin: 0 var(--size-2);
}

.header a {
    color: var(--color-main-100);
    font-size: var(--size-4);
}

.header a:hover,
.header a:active,
.header a.active {
    color: var(--color-main-200);
}

.header svg {
    width: var(--size-5);
    height: var(--size-5);
    vertical-align: sub;
}

.header button {
    font: inherit;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    width: 5.2rem;
}

.header button:hover {
    background-color: var(--color-main-50);
    color: var(--color-main-800);
}

.end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width: 768px) {
    .header ul {
        gap: 0.5rem;
    }

    .header a {
        font-size: var(--size-5);
    }

}