.toolbarSelectForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4px;
    margin-top: 4px;
    border-top:2px solid var(--color-sidebar-background-color);
}

.isNotVisible{
    display: none;
}