.actionBorder{
    background: var(--color-base-background-color);
    border-bottom: 3px solid var(--color-sidebar-background-color);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
    font-weight: 600;
    padding: 0.25rem 3.82%;
    white-space: nowrap;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.notSticky {
    position: initial;
}