.actionBorder{
    border-top: 3px solid var(--color-sidebar-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;
    width: 100%;
    margin: auto;
}