.actionBorder{
    background: var(--color-base-background-color);
    border-top: 3px solid var(--color-sidebar-background-color);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.notSticky{
    position: initial;
}

.actionBorder.sticky {
    border-bottom: 2px solid transparent;
}