.editorStatus {
    align-items: center;
    border-radius: 5px;
    display: flex;
    text-align: center;
    padding-right: 4px;
}
.editorStatus::before {
    background: var(--color-base-background-color);
    border-radius: 50%;
    content: " ";
    display: inline-block;
    flex: 0 0 auto;
    height: 0.5rem;
    margin-right: 0.5rem;
    width: 0.5rem;
}

.editorStatusPending::before {
    background: #ffba00;
}

.editorStatusError::before {
    background: var(--color-accent-color);
}

.editorStatusSuccess::before {
    background: #b9f18d;
}