.container {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 1rem;
    margin: auto;
}
.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.header h1 {
    font-size: 8rem;
    color: var(--color-hashtag-text-color);
    text-align: center;
}

.background{
    transform: translateZ(-9px) scale(2.2);
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.container section {
    font-size: 1.8rem;
    padding: 25px 0;
    background: var(--color-background-text-color);
    color: var(--color-base-text-color);
}


@keyframes animationFloat {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
    0% { transform: translateY(0px); }
}
.floatAnimation {
    animation-name: animationFloat;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}


@media (min-width:600px) and (max-width: 768px) {
    .header h1 {
        font-size: 6rem;
    }

    .header {
        height: 75%;
    }

    .background{
        transform: translateZ(-7px) scale(1.8);
    }
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 4rem;
    }

    .header {
        height: 50%;
    }

    .background{
        transform: translateZ(-3px) scale(1);

    }
}