
.editor {
    background-color: var(--color-base-background-color);
    border: 3px solid var(--color-sidebar-background-color);
    border-radius: 0.75rem;
    /*color: var(--color-base-text-color);*/
    display: flex;
    flex-direction: column;
}

.editorHeader {
     align-items: center;
     border-bottom: 3px solid var(--color-sidebar-background-color);
     display: flex;
     flex: 0 0 auto;
     flex-wrap: wrap;
     padding: 0.25rem;
 }

.editorContent {
     flex: 1 1 auto;
     overflow-x: hidden;
     overflow-y: auto;
     padding: 1.25rem 1rem;
     -webkit-overflow-scrolling: touch;
 }

.editorSetting button {
    background: none;
    border: none;
    border-radius: 0.4rem;
    color: var(--color-sidebar-background-color);
    font: inherit;
    font-size: 12px;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
}
.editorSetting button:hover {
     background-color: var(--color-sidebar-background-color);
     color: var(--color-sidebar-cell-text-color);
 }

.icon {
    border-radius: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-sidebar-background-color);
}

.icon:hover {
    background: var(--color-sidebar-background-color);
    color: var(--color-sidebar-cell-text-color);
    cursor: pointer;
}